.btn {
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 9999px;
    background: rgba(var(--accentBg), 0.5);
    color: var(--fg);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 0 3px 3px rgba(var(--accentBg), 0.3);
}

.btn:hover {
    animation: glow 10s infinite linear;
}

[onclick] {
    cursor: pointer;
}

[onclick]:hover, a > .layout-card:hover {
    box-shadow: inset 0 0 0 9999px rgba(255,255,255,.08);
    transition: box-shadow .15s;
}