.column {
    display: flex;
    flex-direction: column;
    gap: var(--unit-spacing);
    align-items: start;
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--unit-spacing);
    align-items: center;
}

.row > img {
    align-self: stretch;
    height: auto;      /* keep aspect ratio */
    object-fit: cover; /* if you want it to fill the stretched height */
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--unit-spacing);
    border-radius: var(--unit-spacing);
    background-color: var(--card-bg);
    padding: var(--unit-spacing);
}