*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/chopui/
test.mv.db
test.mv.db.backup
test.trace.db
backup.json
/www/uploads
users.json
.env
.room
/dbdumps/*

**/.kotlin-js-store/
**/kcef-bundle/

/.kotlin/

/app/appcache.json
/app/release
/server/deploy
/server/wav