[submodule "kabinet"]
	path = kabinet
	url = https://github.com/bonzaiferroni/kabinet.git
[submodule "klutch"]
	path = klutch
	url = https://github.com/bonzaiferroni/klutch.git
[submodule "pondui"]
	path = pondui
	url = https://github.com/bonzaiferroni/pond-compose.git
[submodule "server"]
	path = server
	url = https://github.com/bonzaiferroni/streetlight-server.git
