/* glow */

.glow {
    animation: glow 10s infinite linear;
}

@keyframes glow {
    0% {
        stroke: rgb(var(--light-1));
        filter: drop-shadow(0 0 2px rgb(var(--light-1)));
    }
    25% {
        stroke: rgb(var(--light-2));
        filter: drop-shadow(0 -1px 3px rgb(var(--light-2)));
    }
    40% {
        stroke: rgb(var(--light-1));
        filter: drop-shadow(1px 0 1px rgb(var(--light-1)));
    }
    65% {
        stroke: rgb(var(--light-3));
        filter: drop-shadow(0 -1px 2px rgb(var(--light-3)));
    }
    80% {
        stroke: rgb(var(--light-2));
        filter: drop-shadow(-1px 0 1px rgb(var(--light-2)));
    }
    100% {
        stroke: rgb(var(--light-1));
        filter: drop-shadow(0 0 2px rgb(var(--light-1)));
    }
}

/* fade-stack */

.fade-stack {
    position: relative;
}

.fade-stack > * {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    pointer-events: none;
    transition:
            opacity 0.35s ease,
            transform 0.35s ease,
            visibility 0.35s ease;
}

.fade-stack > *.show {
    opacity: 1;
    transform: scale(1); /* slide into place */
    visibility: visible;
    pointer-events: auto;
}

/* state render */

.state-render {
    position: relative;
    transition: height 200ms ease-in-out;
}

.state-render-animation {
    opacity: 0;
    filter: blur(6px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, filter 200ms ease-out;
    pointer-events: none;
}

.state-render-animation.enter-stage {
    opacity: 1;
    filter: blur(0px);
    pointer-events: auto;
}

.state-render-animation.exit-stage {
    position: absolute;
}

/* magic */

.flow-block.magic {
    opacity: 0;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, filter 200ms ease-out;
    pointer-events: none;
}

.flow-block.magic.reveal {
    opacity: 1;
    pointer-events: auto;
}

.flow-block.magic.magic-blur {
    filter: blur(6px);
}

.flow-block.magic.magic-blur.reveal {
    filter: blur(0px);
}

.flow-block.magic.magic-slide-x {
    transform: translate(20px, 0px);
}

.flow-block.magic.magic-slide-x.reveal {
    transform: translate(0px, 0px);
}

.flow-block.magic.magic-slide-y {
    transform: translate(0px, 20px);
}

.flow-block.magic.magic-slide-y.reveal {
    transform: translate(0px, 0px);
}

/* items block */
.items-block.magic {
    transition: height 200ms ease-in-out;
}

.items-block.magic > * {
    position: absolute;
    opacity: 0;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, filter 200ms ease-in-out, top 200ms ease-in-out;
    pointer-events: none;
}

.items-block.magic > .reveal {
    opacity: 1;
    pointer-events: auto;
}

.items-block.magic.magic-blur > * {
    filter: blur(6px);
}

.items-block.magic > .reveal {
    filter: blur(0px);
}

.items-block.magic.magic-slide-x > * {
    transform: translate(20px, 0px);
}

.items-block.magic.magic-slide-x > .reveal {
    transform: translate(0px, 0px);
}

.items-block.magic.magic-slide-y > * {
    transform: translate(0px, 20px);
}

.items-block.magic.magic-slide-y > .reveal {
    transform: translate(0px, 0px);
}

/* content box */
#content-box {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

#content-box.reveal {
    opacity: 1;
}