.column {
    display: flex;
    flex-direction: column;

    gap: var(--unit-spacing);
    align-items: start;
}

.row {
    display: flex;
    flex-direction: row;

    gap: var(--unit-spacing);
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;

    gap: var(--unit-spacing);
    border-radius: var(--unit-spacing);
    background-color: var(--card-bg);
    padding: var(--unit-spacing);
}