.column {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: var(--unit-spacing);
    align-items: start;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;

    gap: var(--unit-spacing);
    align-items: center;
}

.row > .row {
    width: auto;
}

.row > .column {
    width: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: var(--unit-spacing);
    border-radius: calc(var(--unit-spacing) * 2);
    background-color: var(--card-bg);
    padding: var(--unit-spacing);
    align-items: start;
}

.box {
    display: grid;
}

.box > * {
    grid-area: 1 / 1 / 2 / 2;
}

.box > .center {
    place-self: center;
}

.box.center-items {
    place-items: center;
}

.flow-block {
    width: 100%;
}

.items-block {
    width: 100%;
    position: relative;
}

.items-block > * {
    width: 100%;
    position: absolute;
}