.column {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: var(--unit-spacing);
    align-items: start;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;

    gap: var(--unit-spacing);
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: var(--unit-spacing);
    border-radius: var(--unit-spacing);
    background-color: var(--card-bg);
    padding: var(--unit-spacing);
    align-items: start;
}

.box {
    display: grid;
}

.box > * {
    grid-area: 1 / 1 / 2 / 2;
}

.box > .center {
    place-self: center;
}

.box.center-items {
    place-items: center;
}