:root {
    --magic-interval: 222ms;
    --magic-easing: ease-in-out;
    --magic-blur: blur(6px);
}

.glow {
    animation:
            glow-shadow 10s infinite linear,
            glow-background 10s infinite linear;
}

.glow-shadow {
    animation: glow-shadow 10s infinite linear;
}

.glow-background {
    animation: glow-background 10s infinite linear;
}

@keyframes glow-shadow {
    0% {
        filter: drop-shadow(0 0 2px rgb(var(--light-1)));
    }
    25% {
        filter: drop-shadow(0 -1px 3px rgb(var(--light-2)));
    }
    40% {
        filter: drop-shadow(1px 0 1px rgb(var(--light-1)));
    }
    65% {
        filter: drop-shadow(0 -1px 2px rgb(var(--light-3)));
    }
    80% {
        filter: drop-shadow(-1px 0 1px rgb(var(--light-2)));
    }
    100% {
        filter: drop-shadow(0 0 2px rgb(var(--light-1)));
    }
}

@keyframes glow-background {
    0% {
        background-color: rgb(var(--light-1));
    }
    25% {
        background-color: rgb(var(--light-2));
    }
    40% {
        background-color: rgb(var(--light-1));
    }
    65% {
        background-color: rgb(var(--light-3));
    }
    80% {
        background-color: rgb(var(--light-2));
    }
    100% {
        background-color: rgb(var(--light-1));
    }
}

/* fade-stack */

.fade-stack {
    position: relative;
}

.fade-stack > * {
    position: absolute;
    inset: 0;
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.35s ease,
    transform 0.35s ease,
    visibility 0.35s ease;
}

.fade-stack > *.show {
    opacity: 1;
    transform: scale(1); /* slide into place */
    visibility: visible;
    pointer-events: auto;
}

/* state render */

.state-render {
    position: relative;
    transition: height 200ms ease-in-out;
}

.state-render-animation {
    opacity: 0;
    filter: var(--magic-blur);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, filter 200ms ease-out;
    pointer-events: none;
}

.state-render-animation.enter-stage {
    opacity: 1;
    filter: blur(0px);
    pointer-events: auto;
}

.state-render-animation.exit-stage {
    position: absolute;
}

/* content box */
#content-box {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

#content-box.reveal {
    opacity: 1;
}

/* slow spin */

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-slow {
    animation: slow-spin 10s linear infinite;
}