
.flex-items-1 > * {
    flex: 1;
    width: 100%;
}
.flex-items-basis-50 > * {
    flex-basis: 50%;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.display-none {
    display: none !important;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.fill-width {
    width: 100%
}

.dim {
    color: rgba(var(--white), 0.6);
}

.opacity-6 {
    color: rgba(var(--white), 0.6);
}

.opacity-4 {
    color: rgba(var(--white), 0.4);
}

.opacity-2 {
    color: rgba(var(--white), 0.2);
}

.no-dim {
    color: rgb(var(--white)) !important;
}

.no-gap {
    gap: 0 !important;
}

p.large {
    font-size: 1.4rem;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.circle-shape {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #b4bd7d;
}

.border-radius-1 {
    border-radius: var(--unit-spacing);
}

.heading-1, input.heading-1 {
    font-size: var(--heading-1-size);
    font-weight: var(--heading-1-weight);
}

.heading-2, input.heading-2 {
    font-size: var(--heading-2-size);
    font-weight: var(--heading-2-weight);
}

.margin-top-1 {
    margin-top: var(--unit-spacing);
}

.margin-top-2 {
    margin-top: calc(var(--unit-spacing) * 2);
}

.margin-left-1 {
    margin-left: var(--unit-spacing);
}

.height-32 {
    height: calc(var(--unit-spacing) * 32);
}

.height-48 {
    height: calc(var(--unit-spacing) * 48);
}

.square {
    aspect-ratio: 1 / 1;
}

.stack-children {
    position: relative;
}

.stack-children > * {
    position: absolute;
}

.size-100 {
    width: 100%;
    height: 100%;
}

.wrap-flex {
    flex-wrap: wrap;
}

.min-height-4 {
    min-height: calc(var(--unit-spacing) * 4);
}

.min-height-8 {
    min-height: calc(var(--unit-spacing) * 8);
}

.height-auto {
    height: auto;
}

.height-6 {
    height: calc(var(--unit-spacing) * 6);
}

.height-8 {
    height: calc(var(--unit-spacing) * 8);
}

.height-16 {
    height: calc(var(--unit-spacing) * 16);
}

.width-auto {
    width: auto;
}

.width-8 {
    width: calc(var(--unit-spacing) * 8);
}

.width-16 {
    width: calc(var(--unit-spacing) * 16);
}

.width-24 {
    width: calc(var(--unit-spacing) * 24);
}

.width-32 {
    width: calc(var(--unit-spacing) * 32);
}

.width-64 {
    width: calc(var(--unit-spacing) * 64);
}

.justify-content-end {
    justify-content: flex-end;
}

.padding-1 {
    padding: var(--unit-spacing);
}

.padding-2 {
    padding: calc(var(--unit-spacing) * 2);
}

.max-height-32 {
    max-height: calc(var(--unit-spacing) * 32);
}

.max-height-64 {
    max-height: calc(var(--unit-spacing) * 64);
}

.min-height-32 {
    min-height: calc(var(--unit-spacing) * 32);
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: var(--unit-spacing);
}

.gap-2 {
    gap: calc(var(--unit-spacing) * 2);
}

.gap-4 {
    gap: calc(var(--unit-spacing) * 4);
}

.gap-8 {
    gap: calc(var(--unit-spacing) * 8);
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.width-100 {
    width: 100%;
}

.width-2 {
    width: calc(var(--unit-spacing) * 2);
}

.width-4 {
    width: calc(var(--unit-spacing) * 4);
}

.row-reverse {
    flex-direction: row-reverse;
}

.max-width-25 {
    max-width: 25%;
}

.max-width-50 {
    max-width: 50%;
}

.max-width-64 {
    max-width: calc(var(--unit-spacing) * 64);
}

.margin-auto {
    margin: auto;
}

.margin-top-4 {
    margin-top: calc(var(--unit-spacing) * 4);
}

.space-between {
    justify-content: space-between;
}

.height-100 {
    height: 100%;
}

.height-2 {
    height: calc(var(--unit-spacing) * 2);
}

.height-3 {
    height: calc(var(--unit-spacing) * 3);
}

.height-4 {
    height: calc(var(--unit-spacing) * 4);
}

.fill-height {
    height: auto;
    max-height: 100%;
}

.no-wrap {
    flex-wrap: nowrap;
    white-space: nowrap;
}

.primary-bg {
    background-color: var(--primary-bg);
}

.primary-card-bg {
    background-color: var(--primary-card-bg);
}